* {
    font-family: Arial, sans-serif;
}

body {
    background-color:hsl(30, 54%, 90%);
    margin: auto;
    color: #020202;
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    
}


  

img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 700px;
}

.recipe-title {
    font-size: 36px;
    color: #333;
    margin-top: 20px;
}

.recipe-description {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

.preparation-time{
    padding: 5px;
    background-color:rgb(250, 240, 250);
    border-radius: 15px;
}

#prepareTime {
    color:purple;
}

ul, ol {
    line-height: 2em ;
    
}




span {
    font-weight: bold;
}
li::marker{
    color: hsl(14, 45%, 36%);
}

h2 {
    color:  hsl(14, 45%, 36%);
}


